body{
    color: ghostwhite;
}

.tela{
    display: flex;
    height: 96vh;

}

.lado_esquerdo{
    width: 40%;
    height: 900px ;
    text-align: center;
    background-image: url(pug.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}


.le1{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 300%;
}

.lado_direito{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}